# E5 Advanced geospatial plotting

In [1]:
import pandas as pd
import os
from keplergl import KeplerGl
from pyproj import CRS
import numpy as np
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('NY_CityBike_Temp_2022.csv', index_col = 0)

C:\Users\BhuwanDhakal\AppData\Local\Temp\ipykernel_19476\2486714068.py:1: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('NY_CityBike_Temp_2022.csv', index_col = 0)

## Data preprocessing

In [3]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_time,date,avgTemp,_merge
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member,2022-01-18 08:23:52,2022-01-18,1.8,both
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member,2022-01-21 09:03:22,2022-01-21,-6.0,both
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member,2022-01-22 14:28:32,2022-01-22,-5.9,both
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member,2022-01-19 14:49:47,2022-01-19,3.2,both
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member,2022-01-16 14:36:06,2022-01-16,-8.0,both

In [4]:
# Remove blank rows
df1 = df.dropna()

In [5]:
# Create a value column and group by start and end station 

df1['value'] = 1
df_group = df1.groupby(['start_station_name', 'end_station_name', 'start_lat', 'start_lng', 'end_lat', 'end_lng'], as_index=False).agg({'value' : 'sum'})

C:\Users\BhuwanDhakal\AppData\Local\Temp\ipykernel_19476\2059346368.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['value'] = 1

In [6]:
##final_df = df_group.sort_values(by=['value'], ascending=False)

In [7]:
df_final = df_group[df_group['value'] >10]

In [8]:
df_final

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,value
45,1 Ave & E 110 St,1 Ave & E 110 St,40.792327,-73.938300,40.792327,-73.938300,1241
226,1 Ave & E 110 St,1 Ave & E 44 St,40.792327,-73.938300,40.750020,-73.969053,11
229,1 Ave & E 110 St,1 Ave & E 62 St,40.792327,-73.938300,40.761227,-73.960940,23
235,1 Ave & E 110 St,1 Ave & E 68 St,40.792327,-73.938300,40.765005,-73.958185,33
241,1 Ave & E 110 St,1 Ave & E 78 St,40.792327,-73.938300,40.771404,-73.953517,43
...,...,...,...,...,...,...,...
5113443,Yankee Ferry Terminal,South St & Gouverneur Ln,40.687066,-74.016756,40.703554,-74.006702,13
5113447,Yankee Ferry Terminal,South St & Whitehall St,40.687066,-74.016756,40.701221,-74.012342,88
5113448,Yankee Ferry Terminal,South St & Whitehall St,40.687066,-74.016756,40.701221,-74.012342,15
5113479,Yankee Ferry Terminal,Yankee Ferry Terminal,40.687066,-74.016756,40.687066,-74.016756,5039
5113481,Yankee Ferry Terminal,Yankee Ferry Terminal,40.687066,-74.016756,40.687066,-74.016756,842

In [9]:
df_final.dtypes

start_station_name     object
end_station_name       object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
value                   int64
dtype: object

In [10]:
#df_final['start_lat'] = str(df_final['start_lat'])

In [11]:
#df_final['start_lng'] = str(df_final['start_lng'])

In [12]:
#df_final['end_lat'] = str(df_final['end_lat'])

In [13]:
#df_final['end_lng'] = str(df_final['end_lng'])

In [14]:
df_final.head()

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,value
45,1 Ave & E 110 St,1 Ave & E 110 St,40.792327,-73.9383,40.792327,-73.938300,1241
226,1 Ave & E 110 St,1 Ave & E 44 St,40.792327,-73.9383,40.750020,-73.969053,11
229,1 Ave & E 110 St,1 Ave & E 62 St,40.792327,-73.9383,40.761227,-73.960940,23
235,1 Ave & E 110 St,1 Ave & E 68 St,40.792327,-73.9383,40.765005,-73.958185,33
241,1 Ave & E 110 St,1 Ave & E 78 St,40.792327,-73.9383,40.771404,-73.953517,43

In [15]:
df_final.dtypes

start_station_name     object
end_station_name       object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
value                   int64
dtype: object

In [16]:
df_final['value'] = df_final['value'].astype('float')

C:\Users\BhuwanDhakal\AppData\Local\Temp\ipykernel_19476\1385790579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['value'] = df_final['value'].astype('float')

In [17]:
df_final.to_csv('NY_final_locations_for_map.csv')

In [18]:
import gc # this is garbage collector - speeds up performance
gc.collect()

0

In [19]:
# Create KeplerGl instance

m = KeplerGl(height=400, data={"data_1": df_final})
m

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data_1':             start_station_name          end_station_name  start_lat  \
45            …

- I turned on the Arc and changed the color palette to make it more visible. I changed the color based on number of trips, so that it is easy to see which route is more busy

- I changed the filter to see the busiest location and the busiest route. I see the most popular route is from W 21 St & 6 eve to 9 Ave & W 22 St. Based on quick google search the location is at center of Manhattan nearby Hudson River and the high rise buildigns. It indicates the tourists might be renting the bike. Also employees and tourists might be renting to go to the Chelsea Market 

- The most popular locations with same starting and ending point is at the edge of central park. This indicates people renting bike and tour the areas around central park and return it at the same destination

In [26]:
config = m.config

In [27]:
config

{'version': 'v1',
 'config': {'visState': {'filters': [{'dataId': ['data_1'],
     'id': 'tihi05c',
     'name': ['value'],
     'type': 'range',
     'value': [1000, 12480],
     'enlarged': False,
     'plotType': 'histogram',
     'animationWindow': 'free',
     'yAxis': None,
     'speed': 1}],
   'layers': [{'id': '59pqx4r',
     'type': 'point',
     'config': {'dataId': 'data_1',
      'label': 'start',
      'color': [18, 147, 154],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'lat': 'start_lat', 'lng': 'start_lng', 'altitude': None},
      'isVisible': True,
      'visConfig': {'radius': 5,
       'fixedRadius': False,
       'opacity': 0.8,
       'outline': False,
       'thickness': 2,
       'strokeColor': None,
       'colorRange': {'name': 'UberPool 6',
        'type': 'diverging',
        'category': 'Uber',
        'colors': ['#213E9A',
         '#551EAD',
         '#C019BD',
         '#D31256',
         '#E6470A',
         '#F9E200']},
       'strokeColorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radiusRange': [0, 50],
       'filled': True},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': {'name': 'value', 'type': 'integer'},
      'colorScale': 'quantile',
      'strokeColorField': None,
      'strokeColorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}},
    {'id': 'iim82z',
     'type': 'point',
     'config': {'dataId': 'data_1',
      'label': 'end',
      'color': [221, 178, 124],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'lat': 'end_lat', 'lng': 'end_lng', 'altitude': None},
      'isVisible': False,
      'visConfig': {'radius': 5,
       'fixedRadius': False,
       'opacity': 0.8,
       'outline': False,
       'thickness': 2,
       'strokeColor': None,
       'colorRange': {'name': 'UberPool 6',
        'type': 'diverging',
        'category': 'Uber',
        'colors': ['#213E9A',
         '#551EAD',
         '#C019BD',
         '#D31256',
         '#E6470A',
         '#F9E200']},
       'strokeColorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radiusRange': [0, 50],
       'filled': True},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': {'name': 'value', 'type': 'integer'},
      'colorScale': 'quantile',
      'strokeColorField': None,
      'strokeColorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}},
    {'id': 'owq7uw',
     'type': 'arc',
     'config': {'dataId': 'data_1',
      'label': 'start -> end arc',
      'color': [146, 38, 198],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'lat0': 'start_lat',
       'lng0': 'start_lng',
       'lat1': 'end_lat',
       'lng1': 'end_lng'},
      'isVisible': True,
      'visConfig': {'opacity': 0.61,
       'thickness': 2,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'sizeRange': [0, 10],
       'targetColor': None},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': {'name': 'value', 'type': 'integer'},
      'colorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}},
    {'id': 'exs1f8j',
     'type': 'line',
     'config': {'dataId': 'data_1',
      'label': 'start -> end line',
      'color': [136, 87, 44],
      'highlightColor': [252, 242, 26, 255],
      'columns': {'lat0': 'start_lat',
       'lng0': 'start_lng',
       'alt0': None,
       'lat1': 'end_lat',
       'lng1': 'end_lng',
       'alt1': None},
      'isVisible': False,
      'visConfig': {'opacity': 0.8,
       'thickness': 2,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'sizeRange': [0, 10],
       'targetColor': None,
       'elevationScale': 1},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': None,
      'colorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}}],
   'interactionConfig': {'tooltip': {'fieldsToShow': {'data_1': [{'name': 'start_station_name',
        'format': None},
       {'name': 'end_station_name', 'format': None},
       {'name': 'value', 'format': None}]},
     'compareMode': True,
     'compareType': 'absolute',
     'enabled': True},
    'brush': {'size': 0.5, 'enabled': False},
    'geocoder': {'enabled': False},
    'coordinate': {'enabled': True}},
   'layerBlending': 'normal',
   'splitMaps': [],
   'animationConfig': {'currentTime': None, 'speed': 1}},
  'mapState': {'bearing': 0,
   'dragRotate': False,
   'latitude': 40.737250920064476,
   'longitude': -73.9690531677889,
   'pitch': 0,
   'zoom': 10.877598704102795,
   'isSplit': False},
  'mapStyle': {'styleType': 'dark',
   'topLayerGroups': {},
   'visibleLayerGroups': {'label': True,
    'road': True,
    'border': False,
    'building': True,
    'water': True,
    'land': True,
    '3d building': False},
   'threeDBuildingColor': [9.665468314072013,
    17.18305478057247,
    31.1442867897876],
   'mapStyles': {}}}}

In [28]:
import json
with open("config.json", "w") as outfile:
    json.dump(config, outfile)

In [29]:
m.save_to_html(file_name = 'NY Bike Trips Aggregated.html', read_only = False, config = config)

Map saved to NY Bike Trips Aggregated.html!